/* Estilos gerais */
/* Estilize o tamanho da imagem do produto */
.produto-no-carrinho img {
    max-width: 100px; /* Defina o tamanho máximo da imagem */
    max-height: 100px; /* Defina a altura máxima da imagem (opcional) */
    display: block; /* Isso ajuda a centralizar a imagem horizontalmente na div do produto */
    margin: 0 auto;
}
/* Estilize o título do produto */
.produto-no-carrinho h2 {
    font-size: 14px; /* Defina o tamanho da fonte desejado */
    color: #333; /* Cor do texto do título */
    margin: 10px 0; /* Espaçamento superior e inferior */
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #333;
    font-size: 24px;
}

#carrinhoContainer {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: px;
    margin: 20px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#desconto {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 10px;
}

#aplicar-desconto {
    background-color: #0059ff;
}
#finalizar {
    background-color: #515151;
}

#addmaisprodutos {
    background-color: #28a745;
}

#addmaisprodutos:hover {
    background-color: #0056b3;
}
/* Estilize o texto "Valor Total" em negrito */
#carrinhoContainer p {
    font-weight: bold; /* Adicione negrito ao texto */
}

.aplicar-desconto-produto{
    background-color: #0056b3;
}
#descontoProduto-0{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-1{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-2{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-3{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-4{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-5{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-6{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-7{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-8{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
#descontoProduto-9{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

#reverter-precos{
    background-color: #fa900e;
}



/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    #carrinhoContainer {
        padding: 10px;
    }

    button {
        padding: 8px 16px;
        width: 100%;
    }

    #desconto {
        padding: 8px;
        width: 95%;
    }
}
