/* Define o estilo do corpo da página */
body {
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    text-align: center; /* Centraliza o conteúdo na página */
}

body h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 5px auto;
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estiliza o cabeçalho (h1) */
header h1 {
    color: #333; /* Título em azul */
    margin: 20px auto; /* Centraliza na horizontal e define margem superior */
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estiliza o formulário e contêiner */
.form-container {
    text-align: center; /* Centraliza o conteúdo na página */
    margin: 20px auto; /* Margem superior e inferior (centraliza na vertical) */
    max-width: 400px;
    width: 90%;
    display: flex; /* Adiciona display flex para centralizar vertical e horizontalmente */
    flex-direction: column; /* Coloca os elementos internos em uma coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

/* Estiliza as etiquetas do formulário */
label {
    display: block; /* Coloca cada etiqueta em uma nova linha */
    margin-bottom: 5px; /* Margem inferior */
    color: #404040; /* Texto em azul */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto; /* Centraliza o elemento na horizontal usando margens automáticas */
    font-size: 22px; /* Tamanho da fonte menor para telas menores */
    font-weight: bold; /* Texto em negrito */
}

/* Estiliza os campos de entrada de texto */
input[type="text"] {
    width: 25%;
    padding: 10px;
    margin: 0 auto; /* Centraliza os elementos na horizontal */
    border: 4px solid #000000; /* Borda azul */
    display: block; /* Faz com que os elementos ocupem toda a largura disponível */
}

/* Estiliza o botão de consultar */
button[type="submit"] {
    background-color: #000000; /* Fundo azul */
    color: #ffffff; /* Texto branco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto; /* Centraliza o botão na horizontal */
    display: block; /* Faz o botão ocupar toda a largura disponível */
}

/* Estiliza a mensagem de resultado */
.result-container {
    text-align: center;
    display: none; /* Inicialmente invisível */
    margin-top: 20px; /* Margem superior */
}

/* Estiliza o título dos detalhes do produto */
.product-title {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Cor do título (azul) */
    margin-bottom: 10px;
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto; /* Centraliza o elemento na horizontal usando margens automáticas */
}

/* Estiliza a imagem do produto */
.product-image img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    border: 10px solid #ccc;
    padding: 10px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
}

/* Estiliza a descrição do produto */
.product-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333; /* Cor da descrição (preto) */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto; /* Centraliza o elemento na horizontal usando margens automáticas */
}

/* Estiliza o preço do produto */
.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* Cor do preço (azul) */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto; /* Centraliza o elemento na horizontal usando margens automáticas */
}

/* Estiliza a classe container */
.container {
    text-align: center; /* Centraliza o conteúdo na página */
    margin: 20px auto; /* Margem superior e inferior (centraliza na vertical) */
    max-width: 400px;
    width: 90%;
    display: flex; /* Adiciona display flex para centralizar vertical e horizontalmente */
    flex-direction: column; /* Coloca os elementos internos em uma coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

/* Estilos para centralizar o botão Voltar */
#voltarButton {
    background-color: #E0E0E0; /* Fundo azul */
    color: #000000; /* Texto branco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto; /* Centraliza o botão na horizontal */
    bottom: 1em; /* Distância a partir do fundo */
    right: 1em; /* Distância a partir da direita */
    display: block; /* Faz o botão ocupar toda a largura disponível */
}

#adicionarCarrinhoButton {
    background-color: #28a745; /* Fundo azul */
    color: #ffffff; /* Texto branco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto; /* Centraliza o botão na horizontal */
    display: block; /* Faz o botão ocupar toda a largura disponível */
}

#container {
    position: relative; /* Torna o elemento pai posicionado */
}

#irParaCarrinhoButton {
    background-color: #FFAA00;
    color: #ffffff; /* Texto branco */
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    margin: 0 auto; /* Centraliza o botão na horizontal */
    display: block; /* Faz o botão ocupar toda a largura disponível */
}
#irParaMenuButton{
    background-color: #990000;
    color: #ffffff; /* Texto branco */
    padding: 10px 44px;
    border: none;
    cursor: pointer;
    margin: 0 auto; /* Centraliza o botão na horizontal */
    display: block; /* Faz o botão ocupar toda a largura disponível */
}

#lista-estoque {
    list-style-type: none; /* Remover marcadores de lista padrão */
    padding: 0;
  }
  
  #lista-estoque li {
    margin-bottom: 10px; /* Espaçamento entre itens da lista */
    border: 1px solid #ddd; /* Adicionar uma borda aos itens da lista */
    padding: 10px; /* Espaçamento interno dos itens da lista */
    background-color: #f5f5f5; /* Cor de fundo de cada item */
  }
  
  #lista-estoque li:hover {
    background-color: #e0e0e0; /* Cor de fundo quando o item é destacado */
  }
  
  /* Adicione espaço entre as colunas da tabela */
td {
    padding: 15px; /* Ajuste o valor conforme necessário */
}
/* Defina uma cor de fundo para toda a tabela */
table {
    background-color: #f0f0f0; /* Substitua pela cor desejada */
    border-radius: 5px;
    border: 1px solid #ddd; /* Adiciona uma borda à tabela */
    margin: 0 auto; /* Centraliza a tabela na tela */
    width: 80%; /* Ajusta a largura da tabela */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

  /*Estiliza o menu lateral*/
  .sidebar {
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: -350px;
    background-color: #333;
    transition: 0.3s;
    overflow-y: auto;
    padding-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  .menu-btn {
    cursor: pointer;
    padding: 7px;
    background-color: #333;
    color: white;
    width: 150px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .menu-btn:hover {
    background-color: #555;
  }
  
  /* Estilos adicionais para o botão de fechar */
.close-btn {
  display: block;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: #333;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #555;
}
/* Resto dos estilos */
/* ... */
.suggested-product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.suggested-product-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.suggested-product-info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Adicione outras propriedades de estilo necessárias para o contêiner */
}

.suggested-product-code {
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}

.suggested-product-name {
  color: white;
  font-size: 12px;
  font-weight: bold; /* Para destacar o nome do produto */
  /* Outros estilos necessários para o nome do produto */
}

.suggested-product-price {
  color: white;
  font-size: 14px;
  /* Outros estilos necessários para o preço */
}
/* Estilos para a linha separadora */
hr {
  border: none;
  border-top: 1px solid #ccc; /* Cor da linha separadora */
  margin: 5px 0; /* Espaçamento entre as linhas */
}

